extends layout

block body
  div(ng-controller='AppCtrl')
    input.form-control.app-search(type='search', placeholder='Search..')
    .scrollable
      .scrollable-content
        #accordion.panel-group
          .panel.panel-default
              .panel-heading(toggle='', target='collapseOne')
                h4.panel-title
                  | Collapsible Group Item #1
              #collapseOne.panel-collapse.collapse.in(toggleable='', active-class='in', exclusion-group='accordion1', default='active')
                .panel-body
                  .list-group
                    a.list-group-item(ng-repeat='item in scrollItems', href='#')
                      | {{ item }}
                      i.fa.fa-chevron-right.pull-right

            .panel.panel-default
              .panel-heading(toggle='', target='collapseTwo')
                h4.panel-title
                  | Collapsible Group Item #2
              #collapseTwo.panel-collapse.collapse(toggleable='', active-class='in', exclusion-group='accordion1')
                .panel-body
                  .list-group
                    a.list-group-item(ng-repeat='item in scrollItems', href='#')
                      | {{ item }}
                      i.fa.fa-chevron-right.pull-right

            .panel.panel-default
              .panel-heading(toggle='', target='collapseThree')
                h4.panel-title
                  | Collapsible Group Item #3
              #collapseThree.panel-collapse.collapse(toggleable='', active-class='in', exclusion-group='accordion1')
                .panel-body
                  .list-group
                    a.list-group-item(ng-repeat='item in scrollItems', href='#')
                      | {{ item }}
                      i.fa.fa-chevron-right.pull-right


      .navbar.navbar-app.navbar-absolute-bottom
        .btn-group.justified
            a.btn.btn-navbar(href='http://mobileangularui.com/')
              i.fa.fa-home.fa-navbar
              | Docs
            a.btn.btn-navbar(href='https://github.com/mcasimir/mobile-angular-ui')
              i.fa.fa-github.fa-navbar
              | Sources
            a.btn.btn-navbar(href='https://github.com/mcasimir/mobile-angular-ui/issues')
              i.fa.fa-exclamation-circle.fa-navbar
              | Issues

  script(src='/socket.io/socket.io.js')
  script(src='bower_components/angular/angular.js')
  script(src='bower_components/angular-route/angular-route.js')
  script(src='bower_components/angular-socket-io/socket.js')
  script(src='bower_components/mobile-angular-ui/dist/js/mobile-angular-ui.min.js')
  script(src='js/app.js')
  script(src='js/services.js')
  script(src='js/controllers.js')
  script(src='js/filters.js')
  script(src='js/directives.js')
