extends layout

block body
  .navbar.navbar-app.navbar-absolute-top
    .navbar-brand.navbar-brand-center
      span Travel Checklist
    .btn-group.pull-left
      .btn.btn-navbar.sidebar-toggle(ng-click="toggle('mainSidebar')")
        i.fa.fa-bars
        |  Menu
  div(ng-controller='AppCtrl')
    #main-content.scrollable
      //input.form-control.app-search(type='search', placeholder='Add New Item...')
      .scrollable-content
        #accordion.panel-group
          .panel.panel-default(ng-repeat='list in taskLists')
            .panel-heading(toggle='', target='collapse{{ list.name }}')
              h4.panel-title
                | {{ list.name }}
            .panel-collapse.collapse.in(id='collapse{{ list.name }}', toggleable='', active-class='in', exclusion-group='accordion1', default='active')
              .panel-body
                .list-group
                  a.list-group-item(ng-repeat='item in list.data', href='#')
                    label(for='collapse{{ list.id }}_{{ $index }}', class="control-label done-{{item.status}}")
                      input(type='checkbox', id='collapse{{ list.id }}_{{ $index }}', ng-model="item.status")
                      | {{ item.text }}

  script(src='/socket.io/socket.io.js')
  script(src='bower_components/angular/angular.js')
  script(src='bower_components/angular-route/angular-route.js')
  script(src='bower_components/angular-socket-io/socket.js')
  script(src='bower_components/mobile-angular-ui/dist/js/mobile-angular-ui.min.js')
  script(src='js/app.js')
  script(src='js/services.js')
  script(src='js/controllers.js')
  script(src='js/filters.js')
  script(src='js/directives.js')
