/* app css stylesheet */
.panel-default .panel-body {
    padding: 0px;
}

.list-group {
    padding-left: 0;
    margin-bottom: 0px;
}

.done-true {
    text-decoration: line-through;
    color: grey;
}

.list-group .checkbox {
    text-align: center;
    float: left;
}
